WFP_MERCHANT_ACCOUNT=your_merchant_login
WFP_MERCHANT_SECRET_KEY=your_merchant_secret_key
WFP_MERCHANT_DOMAIN=www.nastyagym.com
SITE_URL=https://www.nastyagym.com
WFP_AMOUNT=1290

LEADS_INTEGRATION_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
LEADS_INTEGRATION_KEY=your_existing_integration_key

META_CAPI_ACCESS_TOKEN=your_meta_capi_token
META_GRAPH_API_VERSION=v23.0
# META_TEST_EVENT_CODE=TEST12345

COURSE_ACCESS_URL=https://t.me/your_private_course_bot_or_group
